.star-image{
    margin: 35px 0px;
justify-content: center;
}

.card-testimonial{
    text-align: center;
    padding: 22px 0px;
}
.custom-p{
    display: flex;
    text-align: start;
}
.custom-h{
    display: flex;
    text-align: start;
}
.custom-content{
    padding: 2px 12px;
}
.custom-p{
    margin-bottom: 37px;
    color: #666666;
}
.logo-img{
    width: 100%;
}
.accordion-item:first-of-type .accordion-button {
    justify-content: space-between;
    outline: none;	
    box-shadow: none;

}
.t-1{
    background-color: white;
    padding: 2px 22px;
}
.slick-slide{
    padding: 0px 10px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .question-sec{
     text-align: center;
    }
      }
 @media only screen and (max-width: 767px) {
     .question-sec{
         text-align: center;
        }
 }


    @media only screen and (min-width: 768px) and (max-width: 992px) {
        .testimonial-sec{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  
          }
          .t-1{
            margin: 25px;
          }
        }

     @media only screen and (max-width: 767px) {
        .testimonial-sec{
            display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center; 
       
              }
              .t-1{
                margin: 9px;
              }
            }