
 
.news-img{
    background-image: url('../../../assets/images/con.svg');

      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 339px;
      justify-content: start;
      display: flex;
      align-items: center;
  
  }
  .news-main-section-text{
    color: white;
    margin-bottom: 75px;
    width: 67%;
    margin-left: 71px;


  }