.middle-sec-custom-p {
  background-color: #2a2a2a;
  color: white;
  padding: 51px 27px;
  height: auto;
}
.serviceMiddleSection-p {
  margin: 18px 0px;
}
@media only screen and (max-width: 756px) {
  .middle-sec-custom-p {
    padding: 97px 41px;
  }
}
