.cards-custom-bg {
  background-color: #f7f7f7;
}
.cards-custom-margin {
  margin-bottom: 43px;
  justify-content: center;
}
.news-card-section {
  margin-top: 90px;
}
.cards-custom-margin-2 {
  margin-bottom: 61px;
  justify-content: center;
}
