.text-overlay-home {
    color: white;
    position: absolute;
    top: 53%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-weight: 800;
   
}
.custom-p-home{
  margin: 43px 0px;
}
.home-main-heading{
  font-weight: bold;
}
.home-img{
  background-image: url('../../../assets/images/con.svg');

    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 569px;
    justify-content: center;
    display: flex;
    align-items: center;

}
.home-main-section-text{
  color: white;
  margin-bottom: 75px;
  width: 86%;
  text-align: center;


}
@media only screen and (max-width: 992px) {

    .text-overlay-home {
        top: 38%;
       
    }
    }
    @media only screen and (max-width: 768px) {

        .text-overlay-home {
            top: 32%;
            font-size: 13px;
        }
        .custom-p-home{
            margin: 20px 0px;
          }
        }
    @media only screen and (max-width: 576px) {

            .text-overlay-home {
                top: 29%;
               
            }
            .home-main-heading{
             font-size: 19px;
            }
            .custom-p-homenpm{
              font-size: 10px;
            }
            }
    @media only screen and (max-width: 576px) {

                .text-overlay-home {
                    top: 23%;
                }
                .custom-p-home{
                    margin: 0px 0px;
                  font-size: 7px;
                  }
                  .black-bg-1{
                    flex-direction: column;
                  }
                 
                }
                
    

    